$font-stack-system: "Helvetica Neue", san-serif;
$heading-font-family: "Helvetica Neue", san-serif;
$all-buttons: 'button, input[type="button"], input[type="submit"]';
$all-text-inputs: 'input[type="text"], input[type="password"], input[type="email"], input[type="tel"]';
